:root.theme-light {
  --cover-image: url(../images/cover-image-light.png);
  --decoration-display: none;
  --main-color: #353430;
  --background-page-color: #ffeef6;
  --background-color: #ff8dcb;
  --accent-color: #ffc2e6;
  --title-color: #353430;
  --text-color: #353430;
  --border-color-hover: rgba(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --decoration-display: none;
    --main-color: #353430;
    --background-page-color: #ffeef6;
    --background-color: #ff8dcb;
    --accent-color: #ffc2e6;
    --title-color: #353430;
    --text-color: #353430;
    --border-color-hover: rgba(53, 52, 48, 0.4);
  }
}